.App {
    font-family: sans-serif;
    text-align: center;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
ul{
    margin-top: 16px;
}
li{
    font-size: 20px;
    
}
li::before{
    content: '🎁';
}